.navItem {
  display: inline-block;
  color: #104DB8;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  text-decoration: none;
  width: 128px;
}

.nav {
  position: relative;
  top: 0;
  display: inline-flex;
  padding-top: 36px;
  align-items: center;
  text-align: center;
}

.nipple {
  width: 66px;
  height: 66px;
  background-color: #EAC8C2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nipple:after {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ED533C;
  display: inline-block;
}
